.main-image {
    width : calc(38%);
    background-color: rgba(211, 211, 211, 0.15);
    padding: 7%;
    padding-top: 3%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: 0 0 10px lightgray;
}